extends layout

block content
    #contain
      .title
        | Cybersecurity Capstone Project
      .menu
        a(href='/login') Login
        |   
        a(href='/register') Register
      .bouquet
        .hollyhack
          h3 How do I get started?
          | 	To get started using this system, please 
          a(href='/register') Register
          br
          br
          h3 I've already registered, how do I get in?
          | If you've been here before, please 
          a(href='/login') Login


