extends layout

block content

      #contain
       .title
        | Cybersecurity Capstone Project
       .menu
        a(href='/login') Login
        |   
        a(href='/register') Register
       .bouquet
         .hollyhack
           h1= title
           p Thank you for registering.  You may now login.
           p 
             a(href='/login') Login
