extends layout

block content
      script(type='text/javascript').
           $(document).ready(function() {
                $("#btnSubmit").attr("disabled", true)
                $('#password').keyup(function() {
                $('#result').html(checkStrength($('#password').val()))
                })
                function checkStrength(password) {
                     var strength = 0
                     if (password.length < 6) {
                          $('#result').removeClass()
                          $('#result').addClass('short')
                          $("#btnSubmit").attr("disabled", true);
                         return 'Too short'
                    }
                    if (password.length > 7) strength += 1
                    if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
                    if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
                    if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
                    if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
                    if (strength < 2) {
                         $('#result').removeClass();
                         $('#result').addClass('weak');
                         $("#btnSubmit").attr("disabled", true)
                         return 'Weak'
                    } 
                    else if (strength == 2) 
                    {
                         $('#result').removeClass()
                         $('#result').addClass('good')
                         $("#btnSubmit").attr("disabled", false)
                         return 'Good'
                    } 
                    else 
                    {
                         $('#result').removeClass()
                         $('#result').addClass('strong')
                         $("#btnSubmit").attr("disabled", false)
                         return 'Strong'
                    }
                 }
               });
      #contain
       .title
        | Cybersecurity Capstone Project
       .menu
        a(href='/login') Login
        |   
        a(href='/register') Register
       .bouquet
         .hollyhack
          form(id='form-register' action ='/register' method="POST")
            table(id="register" class="table table-stripped table-bordered" cellspacing="0" width="60%")
             tr
               td User:      
               td 
                   input(type='text', name='user')
             tr
               td Password: 
               td
                   input#password(type='password', name='password')
                   #result.result        
             tr
               td
               td 
                   input(type='submit',value='Register',id='btnSubmit')